
/* DEFAULT CONFIG */
* {
    margin: 0;
    padding: 0;
    outline: none;
}
  
body {
    font-size: 14px;
    line-height: 21px;
    background-color: #181f2a;
    color: #fff;
}
header {
    background-color: #1c2431;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin-bottom: 20px;
}
  
p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.8;
}

/* NAVBAR */
.navbar-brand img {
    width: 150px;
    margin: 30px 0;
}

.navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

.navbar-collapse a {
    font-size: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
}

/* HERO */
.hero {
    background-color: #1c2431;
    margin-bottom: 70px;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-position: 0 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
}

.hero img {
    width: 60%;
    margin: 40px  0 50px 0;
}

.hero .hero-btn {
    margin: 10px;
    padding: 15px 80px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none; 
    background-image: -webkit-gradient(linear, left top, right top, from(#02AAB0), color-stop(51%, #00CDAC), to(#02AAB0));    
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}

.hero .hero-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* FEATURES */
.features img {
    height: 80px;
    margin-bottom: 20px;
}

/* WORK */
.work a{
    text-decoration: underline;
    font-size: 18px;
    color: #5ad7db;
    cursor: pointer;
}
  
.work a i {
    margin-left: 5px;
}
  
.work a:hover {
    text-decoration: none;
}

/* TESTIMONIALS */
.testimonials {
    margin: 10% 0;
    position: relative;
}
  
.testimonials::before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(../images/bg-quotes.png);
}
  
.testimonials .review-card {
    background-color: #202a3c;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

  